@model AgenciaDeViagens_MVC_Dot_Net.Models.Destino

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/Destino.css" asp-append-version="true" />

<h1>Detalhes da Destino</h1>

<div>
    <h4>Destino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalViagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalViagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorViagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorViagem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DestinoId">Editar Destino</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
