@model AgenciaDeViagens_MVC_Dot_Net.Models.Hotel

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/Hoteis.css" asp-append-version="true" />
<h1>Deletar Hotel</h1>

<h3>Confirme para Deletar!</h3>
<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalHotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalHotel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorHospedagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorHospedagem)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HotelId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
         <a asp-action="Index">Voltar para Lista</a>
    </form>
</div>
